.div02 h3, .div02 h2{
    color: green;
}

div h3,h2{
    color: blue;
}

div div h3{
    color: red;
}


.btn{
    width: 90px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 7px;
    border: none;
}

.btn:hover{
    background-color: rgb(255, 56, 56);
    box-shadow: 0 0 5px 5px rgb(255, 243, 131);
    transition: 1s;

}